/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #E4E4E4;

    background-attachment: fixed;
    font-size: 12px;
    left: 0%;
    top: 0%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/*No outline*/
button {
    outline: none !important;
}

.ui-page-theme-a .ui-btn:focus, html .ui-bar-a .ui-btn:focus, html .ui-body-a .ui-btn:focus, html body .ui-group-theme-a .ui-btn:focus, html head + body .ui-btn.ui-btn-a:focus, .ui-page-theme-a .ui-focus, html .ui-bar-a .ui-focus, html .ui-body-a .ui-focus, html body .ui-group-theme-a .ui-focus, html head + body .ui-btn-a.ui-focus, html head + body .ui-body-a.ui-focus {
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}

.centerapp {
    text-align: center;
}

/* Portrait layout (default) */
.app {
    display: inline-block;
    padding: 15px;
    text-align: left;
    min-width: 360px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
    }
}



.ui-page-theme-a .greenbutton.ui-btn{
    background-color:rgb(84, 191, 84);
    text-shadow: 01px /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ #008814 /*{a-bup-shadow-color}*/!important;
    color: #fff!important;

}

.ui-page-theme-a .greenbutton.ui-btn:hover{
    background-color:rgb(84, 191, 84);

}

.ui-page-theme-a .greenbutton.ui-btn:active{
    background-color:rgb(72, 179, 72);

}



 .fadein{
-webkit-animation: fadeslideincomplete ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
-moz-animation: fadeslideincomplete ease-in 1;
animation: fadeslideincomplete ease-in 1;

-webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
-moz-animation-fill-mode: forwards; /*FF 5+*/
-o-animation-fill-mode: forwards; /*Not implemented yet*/
-ms-animation-fill-mode: forwards; /*IE 10+*/
animation-fill-mode: forwards; /*when the spec is finished*/

-webkit-animation-duration: 200ms;
-moz-animation-duration: 200ms;
animation-duration: 200ms;
    }

/* make keyframes that tell the start state and the end state of our object
@-webkit-keyframes fadeincomplete {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeincomplete {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeincomplete {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


*/


  /* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeslideincomplete {
    from {
        -webkit-transform: scale(0.995);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@-moz-keyframes fadeslideincomplete {
    from {
        -moz-transform: scale(0.995);
        opacity: 0;
    }
    to {
        -moz-transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeslideincomplete {
    from {
        transform: scale(0.995);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
