.multipleselections{
    margin: 0 0 20px 0;
}

.multipleselections.ui-controlgroup label{
    border-color: rgb(221, 221, 221)!important;
}

.multipleselections .ui-btn.ui-btn-active{
    background-color:#9E4200!important
}