
.searchWidget-resultlist {
    width:100%;
    position: absolute;
    border: 1px solid rgba(102, 102, 102, 0.4);
    margin-bottom: 30px;
    box-shadow: 5px 10px 20px #888888;
    z-index: 1;
    -webkit-animation: fadeincomplete ease-in 1;
    -moz-animation: fadeincomplete ease-in 1;
    animation: fadeincomplete ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 200ms;
    -moz-animation-duration: 200ms;
    animation-duration: 200ms;
}

.searchWidget-resultlist li.selected a{
    background-color: #E2E2E2!important;

}

.searchWidget-resultlist li.addAll a{
    background-color: #d8d8d8 !important;

}

.searchWidget-resultlist li a{
    padding: 1em 1em;

}
